<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>公司-基本信息</title>
<link rel="shortcut icon" href="<?php echo base_url().'application/views/images/';?>favicon.ico"/>
<link rel="stylesheet" type="text/css" href="<?php echo base_url().'application/views/members/';?>css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="<?php echo base_url().'application/views/members/';?>images/menpoint.png" align="left"> 基本信息
         <span><img src="<?php echo base_url().'application/views/members/';?>images/write.png" align="left"> <a>编辑内容</a></span>
     </div>
    <div class="memRightDo fl" >
    <div class="menTab magi">
    <table width="600"  height="200" cellspacing="0" cellpadding="0">

    <tr>
    <td width="150" height="50" align="right">用户名  : &nbsp;&nbsp; </td>
    <td width="300" align="left" valign="middle" class="cloF75 fs24"> <?php echo $baseinfo['loginname'];?></td>
    <td width="150" align="center"></td>
    </tr>
    <tr>
    <td width="150" height="50" align="right">密   码  :  &nbsp;&nbsp; </td>
    <td width="300" align="left" valign="middle" class="cloF75 fs23"> *********</td>
    <td width="150" align="center" ><a class="cloF75"></a></td>
    </tr>
    <tr>
    <td width="150" height="50" align="right">联系方式  : &nbsp;&nbsp; </td>
    <td width="300" align="left" valign="middle" class="cloF75 fs24"><?php echo $baseinfo['phone'];?></td>
    <td width="150" align="center" ><a class="cloF75" ></a></td>
    </tr>
    </table>
    </div>   
    </div>
    </div>
</body>
</html>
