<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>已收到评价</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 已收到评价     
     </div>
    <div class="memRightDo fl" >
        <!--评论循环开始，每页显示10条-->
        <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--1-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--2-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--3-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--4-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--5-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--6-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--7-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>3Q</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--8-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>静心</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--9-->
         <div class="proComet">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>渴死的鱼</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star">等级：<img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ><img src="../images/star.jpg" align="middle" ></span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--10-->
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

   <!--分页-->
  <div style="margin-left:0px;" class="Page mt20 fr">
  <a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a><a href="#">3</a><a href="#">下一页</a> <strong> 末页</strong>
  </div>    
    </div>
    </div>

</body>
</html>
