<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>已评论-修改评论</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 查看评论    
     </div>
    <div class="memRightDo fl" >
        <!--评论循环开始，每页显示10条-->
    <div class="comment">
       <div class="proComet" style="border:none;">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star cloF75" style="text-align:right">修改评论</span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         <!--1-->       

      <div class="proComet" style="border:none;">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star cloF75" style="text-align:right">修改评论</span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         
           <div class="proComet" style="border:none;">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star cloF75" style="text-align:right">修改评论</span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         
           <div class="proComet" style="border:none;">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star cloF75" style="text-align:right">修改评论</span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
         
           <div class="proComet" style="border:none;">
                  <dl>
                      <dt><img class="tImg70" src="../images/touImages/tou_x.jpg"></dt>
                      <dd>131243253535</dd>
                  </dl>
                  <div class="proCometa">
                    服务类型：婚礼策划统筹 <span class="star cloF75" style="text-align:right">修改评论</span><br /><br />
非常感谢家豪！我的婚礼真的很用心，灯光和场景简直没爆了！几千块钱的布置，在婚庆绝对上万了！而且我喜欢的胡桃机子，家豪都自己买张的情况下，坚决不让我加钱！<br />
<i style="color:#ccc;">[2015-06-17 10:36]</i>

                  </div>
         </div>
   
   </div>
   <!--分页--> 
    </div>
    </div>
    
    
<!--修改评论弹框-->
<div class="commentXiu magi">
<table width="650" cellspacing="0" cellpadding="0" > 
   <tr>
    <td width="50" height="80" align="right" valign="top"></td>
    <td width="600" height="80" align="center" valign="middle"  class="fs24 cloF75">
      修改评价
    
    </td>
  </tr>
 
 
  <tr>
    <td width="100" height="200" align="right" valign="top">评价：</td>
    <td height="250" align="center" valign="middle">
    <form id="form1" name="form1" method="post" action="">
    <textarea name="textarea" style="width:600px; height:200px; text-indent:1em;" id="textarea" cols="45" rows="5"></textarea><br />
<br />
    <span style="text-align:center;"> <input class="button" type="button"  value="修 改"></input> </span> 
    </form>
    </td>
  </tr>
</table>
</div>





</body>
</html>
