<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>统一查看订单详情</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 查看订单详情

     </div>
    <div class="memRightDo fl" >
    
    <!--流程图进度条开始-->
    <div class="liucengtu">      
        <div class="liucengtuUp">
          <b> 2015-7-9 <br />16:34:50</b> 
          <b> 2015-7-9 <br />16:34:50</b> 
          <b> 2015-7-9 <br />16:34:50</b>
          <b> 2015-7-9 <br />16:34:50</b>
          <b> 2015-7-9 <br />16:34:50</b> 
          <b> 2015-7-9 <br />16:34:50</b>
        </div>
        <div class="liucengtuMid">
          <b><img src="images/liuchenga.jpg"></b> 
          <b><img src="images/liuchenga.jpg"></b> 
          <b><img src="images/liuchenga.jpg"></b> 
          <b><img src="images/liuchengb.png"></b> 
          <b><img src="images/liuchenga.jpg"></b> 
          <b><img src="images/liuchenga.jpg"></b> 
                  
        </div>
        <div class="liucengtuDo">
           <b> 提价订单</b> 
           <b> 已支付 </b> 
           <b> 预定完成</b>
           <b> 开始筹备</b>
           <b> 筹备完成,支付尾款</b> 
           <b> 圆满礼成</b>   
        </div>
    </div>
     <!--详细信息-->
   <div class="dddetial">
       <div class="dddetialUp fl cloF75">
            订单信息
       </div>
       <div class="dddetialDo fl">
           <div class="detialoImg fl">
           <img  class="tImg100" src="../images/touImages/tou_x.jpg"><a href="#">查看合同详情</a>
           </div> 
           <div class="detialdet fl">
           <!--调取婚礼人信息-->
           <b> 艺 名 :</b>  小王<br />
           <b> 等 级 :</b><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle">  <br />
           <b> 职 业 :</b>主持人<br />
           <b>真实姓名:</b> 王 四<br />
            <b> 电 话 :</b>  15234567809<br />
           <b>服务类型:</b> 西式婚礼<br />
           <b>价格 :</b> ￥700 <br />
           <b>服务说明：</b> <br />
           前期见面沟通试妆、定妆（建议婚礼前1个月左右），当天提供全程跟妆至婚礼宴会服务时间：8小时服务人数：1名化妆产品：迪奥、香奈儿免费项目：头饰、假睫毛、妈妈装、伴娘装饰品在婚礼结束回收。<br /><br />
           
           <!--婚庆公司查看订单消息-调取新人信息-->
           <b> 新人姓名 :</b>  小王<br />
           <b> 联系电话 :</b><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle"><img src="../images/star.jpg" align="middle">  <br />
           <b> 服务档期 :</b>主持人<br />
           <b>服务地址:</b> 王 四<br />
            <b>我的留言 :</b>  15234567809<br />
           <b>服务类型:</b> 西式婚礼<br />
           <b>价格 :</b> ￥700 <br />
           <b>服务说明：</b> <br />
           前期见面沟通试妆、定妆（建议婚礼前1个月左右），当天提供全程跟妆至婚礼宴会服务时间：8小时服务人数：1名化妆产品：迪奥、香奈儿免费项目：头饰、假睫毛、妈妈装、伴娘装饰品在婚礼结束回收。<br /><br />
           
           
    
           
          <!--调取公司信息-->
          <b> 公司名称 :</b>  一世缘婚礼顾问公司<br />
          <b> 婚礼负责人 :</b>  张渣渣<br />
           <b>负责人联系电话 :</b>  15234567809<br />
           <b>价格：</b> ￥500<br />
           <b>公司简介：</b> <br />
           前期见面沟通试妆、定妆（建议婚礼前1个月左右），当天提供全程跟妆至婚礼宴会服务时间：8小时服务人数：1名化妆产品：迪奥、香奈儿免费项目：头饰、假睫毛、妈妈装、伴娘装饰品在婚礼结束回收。<br /><br />
           <span>
              <b>订单号  : </b>  2015710092424<br />
              <b>支付金额 : </b> ￥500<br />
              <b>订单状态 : </b> 预订成功<br />
           </span><br />
           <b class="cloF75 fs26"><img src="images/colock.png" align="middle">婚礼倒计时 : 6天5时8分24秒 </b><br /><br />
感谢您对婚艺365的支持，如果有什么需求和疑问，或者发现什么问题，欢迎复制您的订单号并发送给婚艺小秘书，我们将尽快为您处理！<br /><br />

           <img src="../images/secretIco.png" align="left">&nbsp <a href="#" target="_blank">联系我们</a></div>     
            
      </div>

    <span style="width:900px; text-align:right; height:30px; display:block;" class="fl">  <a  class="cloF75" href="#"> 返回上一级  >></a></span>

     </div>       
    
    
    
    
    
    

   <!--分页-->
   
    </div>
    </div>

</body>
</html>
