<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>团队-我的团队</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 我的团队
     </div>
    <div class="memRightDo fl" >
    <div class="teamNum">
       <!--循环开始-->
            <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--1--> 
           <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--2--> 
           <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--3--> 
           <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--4--> 
              <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--5--> 
              <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--6--> 
              <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--7--> 
              <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--8--> 
              <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--9--> 
              <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--10--> 
            <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--11--> 
            <dl>
               <dt class="fl"><a href="#" target="_blank"><img class="tImg100" src="../images/touImages/tou_x.jpg"></a></dt>
               <dd class="fl">昵称： 白子画<br />
                   性别： 男<br />
                   年龄： 27<br />
                   <input type="button" value="踢出团队" style="border-radius:10px; width:70px; height:20px; border:none; text-align:center; color:#FFF; background-color:#fa638e;" ></input>
               </dd>
            </dl>
           <!--12--> 
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

   <!--分页
  <div style="margin-left:0px;" class="Page mt20 fr">
  <a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a><a href="#">3</a><a href="#">下一页</a> <strong> 末页</strong>
  </div> -->   
    </div>
    </div>

</body>
</html>
