<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>新人-我的婚礼</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 我的婚礼
     </div>
    <div class="memRightDo fl" >
  <table width="900" cellspacing="0" cellpadding="0">
  <tr>
    <td height="40" colspan="5" bgcolor="#fbfafa">&nbsp;&nbsp;&nbsp;&nbsp;订单号 : 2015071010084530 </td>
    <td height="40" bgcolor="#fbfafa"><a class="cloF75">查看筹备信息&gt;&gt;</a> </td>
  </tr>
  <tr>
    <td width="150" height="50" align="center" valign="middle"> 档 期 </td>
    <td width="150" height="50" align="center" valign="middle"> 筹备公司 </td>
    <td width="150" height="50" align="center" valign="middle">联系人 </td>
    <td width="150" height="50" align="center" valign="middle">联系电话 </td>
    <td width="150" height="50" align="center" valign="middle">联系QQ </td>
    <td width="150" height="50" align="center" valign="middle">状态</td>
  </tr>
  <tr style="font-size:14px;">
    <td width="150" height="80" align="center" valign="middle">2015-07-29 <br />
      全天</td>
    <td width="150" height="80" align="center" valign="middle">合肥锦玉喜堂时尚婚礼中心</td>
    <td width="150" height="80" align="center" valign="middle">张 青</td>
    <td width="150" height="80" align="center" valign="middle">13736755646</td>
    <td width="150" height="80" align="center" valign="middle">1435456464</td>
    <td width="150" height="80" align="center" valign="middle" class="cloF75">
      倒计时<br />      
      0天 0时 0分 0秒<br />
      未筹备</td>
  </tr>
 </table>
   <table width="900" cellspacing="0" cellpadding="0">
  <tr>
    <td height="40" colspan="5" bgcolor="#fbfafa">&nbsp;&nbsp;&nbsp;&nbsp;订单号 : 2015071010084530 </td>
    <td height="40" bgcolor="#fbfafa"><a class="cloF75">查看筹备信息&gt;&gt;</a> </td>
  </tr>
  <tr>
    <td width="150" height="50" align="center" valign="middle"> 档 期 </td>
    <td width="150" height="50" align="center" valign="middle"> 筹备公司 </td>
    <td width="150" height="50" align="center" valign="middle">联系人 </td>
    <td width="150" height="50" align="center" valign="middle">联系电话 </td>
    <td width="150" height="50" align="center" valign="middle">联系QQ </td>
    <td width="150" height="50" align="center" valign="middle">状态</td>
  </tr>
  <tr style="font-size:14px;">
    <td width="150" height="80" align="center" valign="middle">2015-07-29 <br />
      全天</td>
    <td width="150" height="80" align="center" valign="middle">合肥锦玉喜堂时尚婚礼中心</td>
    <td width="150" height="80" align="center" valign="middle">张 青</td>
    <td width="150" height="80" align="center" valign="middle">13736755646</td>
    <td width="150" height="80" align="center" valign="middle">1435456464</td>
    <td width="150" height="80" align="center" valign="middle" class="cloF75">
      倒计时<br />      
      0天 0时 0分 0秒<br />
      未筹备</td>
  </tr>
 </table>
   <table width="900" cellspacing="0" cellpadding="0">
  <tr>
    <td height="40" colspan="5" bgcolor="#fbfafa">&nbsp;&nbsp;&nbsp;&nbsp;订单号 : 2015071010084530 </td>
    <td height="40" bgcolor="#fbfafa"><a class="cloF75">查看筹备信息&gt;&gt;</a> </td>
  </tr>
  <tr>
    <td width="150" height="50" align="center" valign="middle"> 档 期 </td>
    <td width="150" height="50" align="center" valign="middle"> 筹备公司 </td>
    <td width="150" height="50" align="center" valign="middle">联系人 </td>
    <td width="150" height="50" align="center" valign="middle">联系电话 </td>
    <td width="150" height="50" align="center" valign="middle">联系QQ </td>
    <td width="150" height="50" align="center" valign="middle">状态</td>
  </tr>
  <tr style="font-size:14px;">
    <td width="150" height="80" align="center" valign="middle">2015-07-29 <br />
      全天</td>
    <td width="150" height="80" align="center" valign="middle">合肥锦玉喜堂时尚婚礼中心</td>
    <td width="150" height="80" align="center" valign="middle">张 青</td>
    <td width="150" height="80" align="center" valign="middle">13736755646</td>
    <td width="150" height="80" align="center" valign="middle">1435456464</td>
    <td width="150" height="80" align="center" valign="middle" class="cloF75">
      倒计时<br />      
      0天 0时 0分 0秒<br />
      未筹备</td>
  </tr>
 </table>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
       
    </div>
    </div>
</body>
</html>
