<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>统一-我的消息</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 我的消息
<span>
             <ul>
                 <li class="spanSty1">全部消息</li>
                 <li>系统消息</li>
                 <li>订单消息</li>
                 <li>历史消息</li>
             </ul>
         </span>
     </div>
    <div class="memRightDo fl" >
    
    <ul>
    <form id="" name="" method="post" action="">
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="已到店"></span>
      </li> 
      <li> 
      <input class="fl" name="" type="checkbox" value="" /> 
      <span class="cloF75 fl" style="width:100px;">[ 订单消息 ]</span> 
      <span class="cloF75 fl"  style="width:580px;"><a href="#">您预约的 风尚weddingMC木子霖 2015-07-29 西式订9 西式 西式订成功...</a></span> <!--限制22个文字-->
      <span class="fl"  style="width:160px;">2015-06-25 14:05:48</span>  
      <span class="fl" style="width:40px;" ><input type="image" src="images/del-t.png" value="删除"></span>
      </li> 
      
      <span style="height:50px; width:890px; display:block; line-height:50px; background-color:#f5f5f5; padding-left:10px;"><input class="fl" style="margin-top:15px;" name="" type="checkbox" value="" /> 全选 <input type="image" src="images/del-t.png" value="删除" > 删除</span>
  </form> 
  </ul>



   <!--分页-->
  <div style="margin-left:0px;" class="Page mt20 fr">
  <a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a><a href="#">3</a><a href="#">下一页</a> <strong> 末页</strong>
  </div>    
    </div>
    </div>

</body>
</html>
