<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>统一-我的消息</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 我的消息
<span>
             <ul>
                 <li class="spanSty1">全部消息</li>
                 <li>系统消息</li>
                 <li>订单消息</li>
                 <li>历史消息</li>
             </ul>
         </span>
     </div>
    <div class="memRightDo fl" >
    <div class="news">
     <span class="cloF75"> [ 订单消息 ]</span>   <span>  2015-06-25 14:05:48</span>
     <p>
     您预约的 风尚weddingMC木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039...  您预约的 风尚weddingMC木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039...  您预约的 风尚木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039...  您预约的 风尚weddingMC木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039...  您预约的 风尚weddingMC木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039...  您预约的 风尚木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039...  您预约的 风尚weddingMC木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039...  您预约的 风尚weddingMC木子霖 2015-07-29 西式婚礼司仪 预订成功，订单编号为 162039。</p>
  <span class="cloF75 fr"><a href="#">返回上一级 >></a></span>
    
    
    </div>
    </div>
    </div>

</body>
</html>
