<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>统一-我的订单</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 我的订单
         <span>
             <ul>
                 <li class="spanSty1">全部订单</li>
                 <li>未支付</li>
                 <li>已支付</li>
                 <li>已完成</li>
             </ul>
         </span>
     </div>
    <div class="memRightDo fl" >
    <table width="900" cellspacing="0" cellpadding="0" class="shopping">
    <form id="form1" name="form1" method="post" action="">
  <tr>
    <th height="40" align="center" valign="middle" bgcolor="#fbfafa">订单号</th>
    <th width="75" height="40" align="center" valign="middle" bgcolor="#fbfafa">订单金额</th>
    <th width="110" height="40" align="center" valign="middle" bgcolor="#fbfafa">档 期</th>
    <th width="120" height="40" align="center" valign="middle" bgcolor="#fbfafa"><p>婚礼人</p>
      </th>
    <th height="40" align="center" valign="middle" bgcolor="#fbfafa">服务类型 </th>
    <th width="120" height="40" align="center" valign="middle" bgcolor="#fbfafa">提交时间 </th>
    <th width="75" height="40" align="center" valign="middle" bgcolor="#fbfafa">订单状态</th>
    <th width="75" height="40" align="center" valign="middle" bgcolor="#fbfafa">操作</th>
  </tr>
  <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">未支付</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="支 付"><br /><input type="button" class="csbutton" value="取消订单"></td>
  </tr>
    <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已支付<br />
      等待确认</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="申请退款"></td>
  </tr>
     <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75"><p>已支付</p>
      <p>已确认</p></td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="申请退款"></td>
  </tr>
      <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已完成</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="评 价"></td>
  </tr>
     <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已完成</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="csbutton" value="修改评价"></td>
  </tr>
      <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">未支付</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="支 付"><br /><input type="button" class="csbutton" value="取消订单"></td>
  </tr>
    <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已支付<br />
      等待确认</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="申请退款"></td>
  </tr>
     <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75"><p>已支付</p>
      <p>已确认</p></td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="申请退款"></td>
  </tr>
      <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已完成</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="评 价"></td>
  </tr>
     <tr>
    <td width="200" height="75" align="center" valign="middle"><a href="#" target="_blank">2015072920150729</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">￥15000</td>
    <td width="110" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      午宴</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">张渣渣</a></td>
    <td width="125" height="75" align="center" valign="middle">双机婚礼跟拍</td>
    <td width="120" height="75" align="center" valign="middle">2015-07-29 18:00:30 </td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已完成</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="csbutton" value="修改评价"></td>
  </tr>
  </form> 
</table>

   <!--分页-->
  <div style="margin-left:0px;" class="Page mt20 fr">
  <a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a><a href="#">3</a><a href="#">下一页</a> <strong> 末页</strong>
  </div>    
    </div>
    </div>

</body>
</html>
