<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>婚礼个人-记录档期</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
<link rel="stylesheet" type="text/css"  href="../css/jquery.cxcalendar.css">
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.cxcalendar.js"></script><!--日历JS-->
<script type="text/javascript"  src="../js/placeholder.js"></script><!--预制文字--->

</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 记录档期
     </div>
    <div class="memRightDo fl" >
     <div class="zili">
    
    <form id="" name="" method="post" action="">  
 
  
  <span class="sleft"> 服务类型 ：</span>
  <span class="sright">
    <select name="" style="height:40px; padding-left:10px;">
    <option>西式婚礼司仪 </option>
    <option>中式婚礼司仪 </option>
    <option>新娘全程跟妆 </option>
    <option>新娘半程跟妆 </option>
    <option>单机婚礼跟拍 </option>
    <option>双机婚礼跟拍</option>
    <option>双机位+摇臂</option>
    <option>摇臂</option>
    <option>微电影 </option>
    <option>单机高清摄像 </option>
    <option>单机单反摄像 </option>
    <option>单机超清摄像 </option>
  
  </select> 
  <select name="" style="height:40px; padding-left:10px;">
            <option> 午 宴 </option>
            <option> 晚 宴 </option>
            <option> 全 天 </option>
   </select>  
     
  </span>
  
  <span class="sleft">预定人或公司 ：</span>
  <span class="sright"><input type="text" class="input"  placeholder="请输入预定人或公司名称" ></input></span>
  
   <span class="sleft">服务地址 ：</span>
   <span class="sright"><input type="text" class="input" placeholder="请输入服务地址" ></input></span>
   
   <span class="sleft">联系电话 ：</span>
   <span class="sright"><input type="text" class="input" placeholder="请输入联系电话" ></input></span>
   
    <span class="sleft">已预定档期 ：</span> 
  <span class="sright"><input type="text" class="input" id="icc" placeholder="请选择预定的档期" ></input><script>$('#icc').cxCalendar();</script></span>
    
 </form>

<span style="width:500px; margin-left:300px;"><input class="button" type="button"  value="提  交"></input></span>    




    </div>   
    </div>
    </div>
<!--选择日期JS-->    
 <script>
$.cxCalendar.defaults.startDate = 1980;  
$.cxCalendar.defaults.language = { 
  monthList: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 
  weekList: ['Sun', 'Mon', 'Tur', 'Wed', 'Thu', 'Fri', 'Sat'] 
}; 
</script> 
</body>
</html>
