<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>婚礼个人 - 我的档期</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
<link rel="stylesheet" type="text/css"  href="../css/jquery.cxcalendar.css">
<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/jquery.cxcalendar.js"></script><!--日历JS-->
<script type="text/javascript"  src="../js/placeholder.js"></script><!--预制文字--->

</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 我的档期
     </div>
    <div class="memRightDo fl" >
      <table width="900" cellspacing="0" cellpadding="0" class="shopping fs20">
  <tr>
    <td height="40" width="180"  align="center" valign="middle" bgcolor="#fbfafa">已预定档期 </td>
    <td height="40" width="180" align="center" valign="middle" bgcolor="#fbfafa">服务类型 </td>
    <td width="180" height="40" align="center" valign="middle" bgcolor="#fbfafa">预定人或公司 </td>
    <td width="180" height="40" align="center" valign="middle" bgcolor="#fbfafa">服务地址 </td>
    <td width="180" height="40" align="center" valign="middle" bgcolor="#fbfafa"> 联系电话</td>
  </tr>
      </table>
  
   <ul class="fs16 fl" style="text-align:center;">
   <!-- 循环开始-->
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---1--> 
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---2-->
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---3-->  
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---4--> 
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---5--> 
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---6--> 
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---7--> 
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---8--> 
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---9--> 
      <li> 
      <span class="fl" style="width:180px;">2015-07-29 午宴</span> 
      <span class="cloF75 fl" style="width:180px;">西式婚礼西式婚礼</span>
      <span class=" fl" style="width:180px;">张渣渣</span>
      <span class="cloF75 fl" style="width:180px;">合肥希尔顿大酒店</span>
      <span class=" fl" style="width:180px;">13735425252</span>
      </li> 
     <!---10-->       
      </ul>
      
      
    <!--分页-->
    <div style="margin-left:0px;" class="Page mt20 fr">
    <a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a><a href="#">3</a><a href="#">下一页</a> <strong> 末页</strong>
    </div>  
      
   
    </div>
    </div>
<!--选择日期JS-->    
 <script>
$.cxCalendar.defaults.startDate = 1980;  
$.cxCalendar.defaults.language = { 
  monthList: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 
  weekList: ['Sun', 'Mon', 'Tur', 'Wed', 'Thu', 'Fri', 'Sat'] 
}; 
</script> 
</body>
</html>
