<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="keywords" content="婚艺365 婚艺 全国婚艺 结婚 婚庆公司 婚礼人">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>婚庆公司-到店预约</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="bookmark" href="/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="css/MemBase.css">
</head>
<body>
     <div class="companyConents fl">
     <div class="memRightUp fl" >
         <img src="images/menpoint.png" align="left"> 到店预约
<span>
             <ul>
                 <li class="spanSty1">全部预约</li>
                 <li>未到店预约</li>
                 <li>已到店预约</li>
             </ul>
         </span>
     </div>
    <div class="memRightDo fl" >
    <table width="900" cellspacing="0" cellpadding="0" class="shopping">
    <form id="form1" name="form1" method="post" action="">
  <tr>
    <th width="150" height="40" align="center" valign="middle" bgcolor="#fbfafa">预约时间</th>
    <th width="75" height="40" align="center" valign="middle" bgcolor="#fbfafa">预约人</th>
    <th width="170" height="40" align="center" valign="middle" bgcolor="#fbfafa">预约人联系方式</th>
    <th width="120" height="40" align="center" valign="middle" bgcolor="#fbfafa"><p>预约人婚期</p>
      </th>
    <th width="235" height="40" align="center" valign="middle" bgcolor="#fbfafa">预约人已定酒店 </th>
    <th width="75" height="40" align="center" valign="middle" bgcolor="#fbfafa">状态</th>
    <th width="75" height="40" align="center" valign="middle" bgcolor="#fbfafa">操作</th>
  </tr>
  <tr>
    <td width="150" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      18:00:35</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
午宴</a></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">未到店</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="已到店"></td>
  </tr>
    <tr>
    <td width="150" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">18:00:35</a></p></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">午宴</a></p></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已到</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="csbutton" value="删 除"></td>
  </tr>
       <tr>
    <td width="150" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      18:00:35</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
午宴</a></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">未到店</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="已到店"></td>
  </tr>
    <tr>
    <td width="150" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">18:00:35</a></p></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">午宴</a></p></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已到</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="csbutton" value="删 除"></td>
  </tr>
      <tr>
    <td width="150" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      18:00:35</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
午宴</a></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">未到店</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="已到店"></td>
  </tr>
    <tr>
    <td width="150" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">18:00:35</a></p></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">午宴</a></p></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已到</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="csbutton" value="删 除"></td>
  </tr>
     <tr>
    <td width="150" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      18:00:35</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
午宴</a></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">未到店</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="已到店"></td>
  </tr>
    <tr>
    <td width="150" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">18:00:35</a></p></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">午宴</a></p></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已到</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="csbutton" value="删 除"></td>
  </tr>
       <tr>
    <td width="150" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
      18:00:35</a></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><a href="#" target="_blank">2015-07-29 <br />
午宴</a></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">未到店</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="rsbutton" value="已到店"></td>
  </tr>
    <tr>
    <td width="150" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">18:00:35</a></p></td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">张渣渣</td>
    <td width="170" height="75" align="center" valign="middle"><a href="#" target="_blank">13756789045</a></td>
    <td width="120" height="75" align="center" valign="middle"><p><a href="#" target="_blank">2015-07-29 </a></p>
      <p><a href="#" target="_blank">午宴</a></p></td>
    <td width="235" height="75" align="center" valign="middle">合肥希尔顿大酒店</td>
    <td width="75" height="75" align="center" valign="middle" class="cloF75">已到</td>
    <td width="75" height="75" align="center" valign="middle"><input type="button" class="csbutton" value="删 除"></td>
  </tr>
  </form> 
</table>

   <!--分页-->
  <div style="margin-left:0px;" class="Page mt20 fr">
  <a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a><a href="#">3</a><a href="#">下一页</a> <strong> 末页</strong>
  </div>    
    </div>
    </div>

</body>
</html>
