 
<!--orderContainer-->

         <!--私人订制框-->
         <div class="orderBanner">
              <div class="orderOrder">
                  <a href="<?php echo site_url('custom/orderpublic'); ?>" target="_blank"><img src="<?php echo base_url().'application/views/images/order1.png'?>" width='300' height='355' /></a>
<!--                   <table width="280" border="1" >
                  <form id="form5" name="form5" method="post" action="">
                  <tr>
                     <td width="80" height="55" align="center" valign="middle"></td>
                     <td width="200" height="55"  align="center" valign="middle" style="font-size:24px;">私人订制</td>
                  </tr>
                  <tr>
                     <td width="80" height="30" align="center" valign="middle">姓名</td>
                     <td width="200" height="30" align="left" valign="middle">
                     <label for="textfield5"></label>
                     <input type="text" name="name" id="textfield5"  placeholder="请输入您的真实姓名"  style="width:200px; height:28px; text-indent:1em; line-height:28px; border-radius:8px; border:1px #ec728b solid;"  /></td>
                 </tr>
                <tr>
                    <td width="280" height="10"  align="center" valign="middle" colspan="2"></td>
               </tr>
               <tr>
                    <td  width="80" height="30" align="center" valign="middle">手机号</td>
                    <td  width="200" height="30" align="left" valign="middle">
                    <label for="textfield4"></label>
                    <input type="text" name="phone" id="textfield5"  placeholder="请输入您的手机号码"   style="width:200px;text-indent:1em; height:28px; line-height:28px; border-radius:8px; border:1px #ec728b solid;" />
                    </td>
              </tr>
	          <tr>
                    <td width="280" height="10"  align="center" valign="middle" colspan="2"></td>
              </tr>
              <tr>
                    <td width="80" height="30" align="center" valign="middle">地点</td>
                    <td width="200" height="30" align="left" valign="middle">
                   <label for="textfield3"></label>
                   <input type="text" name="address" id="textfield5" placeholder="请输入您的结婚地点"    style="width:200px; text-indent:1em; height:28px; line-height:28px; border-radius:8px; border:1px #ec728b solid;"/>
	               </td>
             </tr>
	         <tr>
                  <td width="280" height="10" align="center" valign="middle" colspan="2"></td>
            </tr>
            <tr>
                 <td width="80" height="30" align="center" valign="middle">预算</td>
                 <td width="200" height="30" align="left" valign="middle">
                 <label for="textfield"> </label> 
                 <select name="budget" class="select" style="width:200px; text-indent:1em; height:28px; line-height:28px; border-radius:8px; border:1px #ec728b solid;" />
                   <option value="" >---------请选择预算----------</option>
		           <option value="2W以下" >2W以下</option>
                   <option value="2W~5W"  >2W-5W</option>
                   <option value="5W~10W"  >5W-10W</option>
                   <option value="10W以上" >10W以上</option>
                 </select>
                </td>
          </tr>
		  <tr>
               <td width="280" height="10" align="center" valign="middle" colspan="2"></td>
         </tr>
         <tr>
              <td width="80" height="30" align="center" valign="middle">婚期</td>
              <td width="200" height="30" align="left" valign="middle">
              <label for="textfield2"></label>              
              <input id="element_id" type="text"  placeholder="请选择您的婚期"  name="marrydate" style="width:200px;text-indent:1em; height:28px; line-height:28px; border-radius:8px; border:1px #ec728b solid; position:relative;"/>
	           <script>$('#element_id').cxCalendar();</script> </input>
              </td>
        </tr>
     	<tr>
             <td width="280" height="10"  align="center" valign="middle" colspan="2"></td>
        </tr>
        <tr>
             <td width="80" height="30" align="center" valign="middle"></td>
            <td width="200" height="10" align="center" valign="middle"><input  id="submit" type="image" src="<?php echo base_url().'application/views/';?>images/orderButtom.jpg" align="center" ></td>
       </tr>
	</form>
	</table> -->
      </div>        
      </div> 
      <div class="cb"></div>       
<!--location-->
<div class="location mt10">
    <img src="<?php echo base_url().'application/views/';?>images/point.jpg" align="left">当前所在的位置 ：<a href="<?php echo site_url('hunyi/index'); ?>">首页</a>  > <span>私人订制</span>
</div>

<!--orderPublic-->
    <div class="orderPublic mt20">
         <div class="orderPublicUp fs26 magi">
             你发需求，我出方案
         </div>
<div class="orderPublicDo fs18 mt20 ">   
             根据您的需求，我们从场地，创意，预算多个角度出发，为您设计出多套方案，全面对比后，选择出您最满意的方案。<br /><br />

             <ul>
                 <li>
                 <span style=" width:75px; height:75px; background:url(<?php echo base_url().'application/views/';?>images/ordericon1.jpg) 0px 0px; margin:0px auto;"> </span>
                 <span style=" width:250px; height:50px; line-height:50px; font-weight:bold; font-size:26px; text-align:center;">场地分析</span>
                 <span>策划师根据您的结婚场地设计出最适合的方案</span>
                 </li>
                 <li>
                 <span style=" width:75px; height:75px; background:url(<?php echo base_url().'application/views/';?>images/ordericon1.jpg) 0px -75px; margin:0px auto;"> </span>
                 <span style=" width:250px; height:50px; line-height:50px; font-weight:bold; font-size:26px; text-align:center;">需求分析</span>
                 <span>倾听您对婚礼的各种需求量身定制最适合的方案</span>
                 </li>
                 <li>
                 <span style=" width:75px; height:75px; background:url(<?php echo base_url().'application/views/';?>images/ordericon1.jpg) 0px -150px; margin:0px auto;"> </span>
                 <span style=" width:250px; height:50px; line-height:50px; font-weight:bold; font-size:26px; text-align:center;">创意建议</span>
                 <span>倾听您的爱情故事给予最适合您的创意建议</span>
                 </li>
                 <li>
                 <span style=" width:75px; height:75px; background:url(<?php echo base_url().'application/views/';?>images/ordericon1.jpg) 0px -225px; margin:0px auto;"> </span>
                 <span style=" width:250px; height:50px; line-height:50px; font-weight:bold; font-size:26px; text-align:center;">预算分配</span>
                 <span>根据您的实际资金预算给您更专业的分配意见</span>
                 </li>                 
          </ul>


                <span style="width:300px;height:75px; margin:0px auto; display:block;"> <a href="<?php echo site_url('custom/orderpublic'); ?>" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/fabu_buttom.png"></a></span>
      </div>
     </div>
<div class="cb"></div>
<div class="orderPublicc mt20">
         <div class="orderPublicUp fs26 magi">
             婚艺网4大服务保障
         </div>
         <div class="orderPubliccDo fs18 mt20 ">   
            我们在聆听完您的需求后，为您组建更适合您的婚礼团队。<br />
            婚艺365从专业的角度协助您选择策划师，主持人，化妆师，摄影师，摄像师，所有服务提供者均来自婚艺365签约服务团队，保证更专业的服务质量。<br /><br />
             <ul>
                 <li>
                 <span style=" width:130px; height:130px; background:url(<?php echo base_url().'application/views/';?>images/ordericon2.jpg) 0px 0px; margin:0px auto;"> </span><br />
                 <span> 婚艺365入驻的所有服务团队均需提供完整的服务资料，并面对面了解和签署服务协议，保证团队真实性并提供让您放心的服务质量。</span>
                 </li>
                 <li>
                 <span style=" width:130px; height:130px; background:url(<?php echo base_url().'application/views/';?>images/ordericon2.jpg) 0px -130px; margin:0px auto;"> </span><br />
                 
                 <span>       婚艺365所有服务商保证真实低价，能让您花同样的价格获得真正物超所值的婚礼服务体验。</span>
                 </li>
                 <li>
                 <span style=" width:130px; height:130px; background:url(<?php echo base_url().'application/views/';?>images/ordericon2.jpg) 0px -260px; margin:0px auto;"> </span><br />
                 
                 <span>       婚艺365第三方平台资金托管，让您的婚礼无后顾之忧，让服务团队为您尽心尽力。</span>
                 </li>
                 <li>
                 <span style=" width:130px; height:130px; background:url(<?php echo base_url().'application/views/';?>images/ordericon2.jpg) 0px -390px; margin:0px auto;"> </span><br />
                
                 <span>       婚艺365对每个签约服务团队收取一定保证金，如在您的婚礼上出现服务瑕疵问题，让您的婚礼受到不良影响，我们将根据您提供的证据判断问题出处，并根据问题的严重性对您进行补偿，让您选择我们更放心。</span>
                 </li>                 
              </ul>
   
      </div>
     </div>
<div class="cb"></div>
<div class="orderPublicPk fs26 mt20">
    <div class="orderPublicPkUp magi">
      婚艺365与行业大PK
    </div>
     <div class="orderPublicPkDo magi fs16">
     
        <table width="1180" cellspacing="0" cellpadding="0">
         <tr>
           <th height="45" colspan="2" align="center" valign="middle" bgcolor="#f5f5f5">行业问题 </th>
           <th height="45" colspan="2" align="center" valign="middle" bgcolor="#f5f5f5">婚艺365</th>
          </tr>
          <tr>
           <td width="200" height="100" align="center" valign="middle" class="bbgg">婚礼无特色</td>
           <td width="400" height="100" align="left" valign="middle"><span>商家做着千篇一律的婚礼，您不喜欢，想要与别人不一样偌大的城市又不知道该往哪去找。</span></td>
           <td width="100" height="100" align="center" valign="middle"><img src="<?php echo base_url().'application/views/';?>images/pk.jpg" width="50" height="50" /></td>
           <td width="480" height="100" align="left" valign="middle">专业的个性创意婚礼平台，挑选最专业的个性创意团队，您只需告诉我们您的诉求，我们会以最快的速度做出响应，让您足不出户，就会有专业策划人员与您面对面交流。</td>
        </tr>
          <tr>
           <td width="200" height="100" align="center" valign="middle" class="bbgg">虚假承诺</td>
           <td width="400" height="100" align="left" valign="middle"><span>接待您和为您服务的人不是同一人，很多承诺无法兑现。</span></td>
           <td width="100" height="100" align="center" valign="middle"><img src="<?php echo base_url().'application/views/';?>images/pk.jpg" width="50" height="50" /></td>
           <td width="480" height="100" align="left" valign="middle">为您挑选适合您需求的策划师为您一对一服务，从开始到结束，都由她为您一手策划和沟通。</td>
        </tr>
          <tr>
           <td width="200" height="100" align="center" valign="middle" class="bbgg">二次销售</td>
           <td width="400" height="100" align="left" valign="middle"><span>大多数婚礼门店所卖的套餐中没有设计方案只有物料清单，策划师根据婚礼设计方案补充清单里缺少的物品，引发二次销售，新人实际花费增加</span></td>
           <td width="100" height="100" align="center" valign="middle"><img src="<?php echo base_url().'application/views/';?>images/pk.jpg" width="50" height="50" /></td>
           <td width="480" height="100" align="left" valign="middle">推荐策划师一对一了解您的需求，免费出婚礼设计方案、预算分配方案，无需多花钱。</td>
        </tr>
          <tr>
           <td width="200" height="100" align="center" valign="middle" class="bbgg">人员不透明</td>
           <td width="400" height="100" align="left" valign="middle"><span>大部分门店对于婚礼人卖的是价格，只有你下了单才能确定人，不满意需要加钱换人，结婚高峰期甚至会出现因为确认还换不了的情况。</span></td>
           <td width="100" height="100" align="center" valign="middle"><img src="<?php echo base_url().'application/views/';?>images/pk.jpg" width="50" height="50" /></td>
           <td width="480" height="100" align="left" valign="middle">婚礼人实名认证，价格透明，您可以自己选，也可以跟爱人亲友一起选，喜欢谁，就选谁，无后顾之忧。</td>
        </tr>
          <tr>
           <td width="200" height="100" align="center" valign="middle" class="bbgg">筹备质量</td>
           <td width="400" height="100" align="left" valign="middle"><span>现在年轻人工作繁忙，选择好了婚庆公司，没有太多时间去过问，甚至出现公司因为某些问题临近婚礼退单的情况</span></td>
           <td width="100" height="100" align="center" valign="middle"><img src="<?php echo base_url().'application/views/';?>images/pk.jpg" width="50" height="50" /></td>
           <td width="480" height="100" align="left" valign="middle">婚艺365为提升婚礼质量，有专人为您负责跟踪筹备工作，定期与您沟通筹备情况，一直随您到婚礼结束，为您保驾护航。</td>
        </tr>
          <tr>
           <td width="200" height="100" align="center" valign="middle" class="bbgg">消费维权</td>
           <td width="400" height="100" align="left" valign="middle"><span>新人是弱势方，婚礼是一锤子买卖，服务没有标准，婚礼结束后好坏也无从查起，即使新人对婚礼不满意也得不到赔偿。</span></td>
           <td width="100" height="100" align="center" valign="middle"><img src="<?php echo base_url().'application/views/';?>images/pk.jpg" width="50" height="50" /></td>
           <td width="480" height="100" align="left" valign="middle">评价机制，服务好不好，大家说了算，评价会展示在服务商及个人的页面。婚艺365进行第三方资金托管，婚礼结束后，新人有任何不满意都可以与客服联系，提供相应证据资料，经认定后将根据问题对新人进行相应赔偿。</td>
        </tr>
      </table>    
    </div>
</div>
<!--orderCase-->
<div class="orderCase mt20" >
      <div class="orderCaseUp magi fs20">
      <a href="#">- 经典案例 -</a>
      </div>
      <div class="orderCaseDo">
       <!--循环开始，显示9条-->
       
       <?php foreach ($anli as $k => $v ) : ?>
         <dl>
             <dt><a href="<?php echo site_url('article/detail/cid/'.$v['cid'].'/arid/'.$v['arid']); ?>" target="_blank"><img src="<?php echo base_url().$v['cover_thumb']; ?>"></a></dt>
             <dd><a href="<?php echo site_url('article/detail/cid/'.$v['cid'].'/arid/'.$v['arid']); ?>" target="_blank"><?php echo $v['artitle']; ?></a></dd>
         </dl>
  <?php endforeach; ?>
        <!--循环结束-->
      </div>
</div>
<div class="cb"></div>
<!--orderKno-->
<div class="orderKno mt20">
     <div class="orderKnoUp magi fs20">
     <a href="#" target="_blank"> - 婚礼知识- </a> 
     </div>
     <div class="orderKnoDo mt20">
         <ul>
     <?php foreach ($xy as $k => $v ) : ?>    
           <li> <a href="<?php echo site_url('article/detail/cid/'.$v['cid'].'/arid/'.$v['arid']); ?>" target="_blank"><img src="<?php echo base_url().$v['cover_thumb']; ?>"  width="250px" height="176" align="left" style="margin-right:10px;">
           </a>
             <h1  class="fs16" style="font-weight:bold;"><a href="#"> <?php echo $v['artitle']; ?></a></h1><br />
           <?php $time = date('Y-m-d', $v['addtime']); echo $time; ?><br /><br />
           <span><?php echo $v['ardesc']; ?></span><br /><br />
           <a href="<?php echo site_url('article/detail/cid/'.$v['cid'].'/arid/'.$v['arid']); ?>" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/more.png"></a>
           </li>
   <?php endforeach; ?>
         </ul>
     </div>
</div>

 <div class="cb"></div> 

 