
  <div class="error">
  <table width="739" background="<?php echo base_url().'application/views/images';?>/favoritesok.jpg"  height="458" cellspacing="0" cellpadding="0">
   <tr>
    <td width="369" height="78">&nbsp;</td>
    <td width="368" align="left" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td width="369" height="120">&nbsp;</td>
    <td width="460" align="left" valign="middle"><p><?php echo $msg;?></p></td>
  </tr>
  <tr>
    <td height="260">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
  <br />
  </div>  
  
  
  <!--错误结束-->
  
 