 

<!--orderPubLeft-->
<div class="orderPubLeft mt20 fl" >
    <table width="820" cellspacing="0" cellpadding="0">
      <tr>
       <td style=" height:50px; background:url(images/PubBg.jpg) center no-repeat; text-align:center; line-height:50px; font-size:26px;">婚礼需求资料</td>
     </tr>
     <tr>
     <td> 
        <form id="form1" name="form1" method="post" action="">
          <p>
          <h3 class="PublicHh">获知婚艺365的渠道:</h3>
           <span>
           <label>
              <input type="checkbox" name="CheckboxGroup1" id="CheckboxGroup1_0" /> Q Q  
              <input type="checkbox" name="CheckboxGroup1" id="CheckboxGroup1_1" /> 微信
              <input type="checkbox" name="CheckboxGroup1" id="CheckboxGroup1_2" /> 微博 
              <input type="checkbox" name="CheckboxGroup1" id="CheckboxGroup1_3" /> 百度搜索
              <input type="checkbox" name="CheckboxGroup1" id="CheckboxGroup1_4" /> 朋友推荐  
              <input type="checkbox" name="CheckboxGroup1" id="CheckboxGroup1_5" /> 商家推荐    
              <input type="checkbox" name="CheckboxGroup1" id="CheckboxGroup1_6" /> 其他 
            </label>
            </span>
          </p>
          
          <p>
          <h3>婚礼日期：</h3>
           <span>
            <label>
             已确定  <input id="elementt_id" name="" type="text" placeholder="请选择婚礼日期" style="width:200px;"  /><script>$('#elementt_id').cxCalendar();</script>      <input name="" type="radio" value="" />未确定
            </label>
            </span>
          </p>
          
          <p>
          <h3>婚礼场地：</h3>
            <span>
            <label>
             已确定  <input name="" type="text" placeholder="请输入场地名称"  style="width:200px;"  />     <input name="" type="radio" value="" />未确定
            </label>
           </span>
          </p>
          
          
          <p>
          <h3>婚宴类型：</h3>
            <span>
            <label>
                <input type="radio" name="RadioGroup1"  id="RadioGroup1_0" />   午宴 
                <input type="radio" name="RadioGroup1"  id="RadioGroup1_1" />   晚宴
                <input type="radio" name="RadioGroup1"  id="RadioGroup1_1" />   未确定  
            </label>
            </span>
          </p>   
          
          <p>
          <h3>婚礼预算：</h3>
            <span>
            <label>
                <input type="radio" name="RadioGroup2"  id="RadioGroup2_0" />   1万以下
                <input type="radio" name="RadioGroup2"  id="RadioGroup2_1" />   1万~2万
                <input type="radio" name="RadioGroup2"  id="RadioGroup2_2" />   2万~3万   
                <input type="radio" name="RadioGroup2"  id="RadioGroup2_3" />   3万~5万下
                <input type="radio" name="RadioGroup2"  id="RadioGroup2_4" />   5万~10万
                <input type="radio" name="RadioGroup2"  id="RadioGroup2_5" />   10万以上
                <br /><br />
                自定义  <input name="" type="text" placeholder="请输入婚礼预算"  /> （元）（婚礼预算为布场和婚礼人费用，不包含婚宴，婚纱礼服，婚车）                            
            </label>
            </span>
          </p>    
         </form>
         </td>
      </tr>
   </table><br />
   <div style="border:2px #f7597a dotted; width:100%; height:1px;"></div> <br />
  <table width="820" cellspacing="0" cellpadding="0">
      <tr>
       <td style=" height:50px;line-height:50px; font-size:26px;">在婚艺365看了这么多婚礼，您理想中的婚礼是什么样的：</td>
     </tr>
     <tr>
     <td> 
        <form id="form1" name="form1" method="post" action="">
          <p>
          <h3 class="PublicHh">Q1 关于婚礼，您更倾向于以下哪种描述？</h3>
           <span>
           <label>
              <input type="checkbox" name="CheckboxGroup2" id="CheckboxGroup2_0" /> 婚礼是一种形式，我希望简单方便就好<br /> 
              <input type="checkbox" name="CheckboxGroup2" id="CheckboxGroup2_1" /> 婚礼是一种形式，我希望更奢华隆重一些<br />
              <input type="checkbox" name="CheckboxGroup2" id="CheckboxGroup2_2" /> 我对婚礼有自己的需求，当与预算冲突时，预算更重要<br />
              <input type="checkbox" name="CheckboxGroup2" id="CheckboxGroup2_3" /> 我对婚礼有自己的需求，当与预算冲突时，需求更重要<br />
              <input type="checkbox" name="CheckboxGroup2" id="CheckboxGroup2_4" /> 我希望有一个有个性有创意的婚礼，可以接受高出预算30%~50%的价格<br />  
              <input type="checkbox" name="CheckboxGroup2" id="CheckboxGroup2_5" /> 我希望有一个有个性有创意的婚礼，无法接受高出预算30%~50%的价格<br />     
            </label>
            </span>
          </p>
          
          
          <p>
          <h3 class="PublicHh">Q2 您更希望自己的婚礼现场风格是什么样子的？</h3>
              <span>
              <label>
                <input type="radio" name="RadioGroup3"  id="RadioGroup3_0" />   传统中式婚礼<br />
                <input type="radio" name="RadioGroup3"  id="RadioGroup3_1" />   浪漫西式婚礼<br />
                <input type="radio" name="RadioGroup3"  id="RadioGroup3_2" />   中西结合婚礼<br />  
                <input type="radio" name="RadioGroup3"  id="RadioGroup3_3" />   我有自己的个性创意想法，希望与策划师沟通 <br />
                <input type="radio" name="RadioGroup3"  id="RadioGroup3_4" />   我还没有自己的想法，希望策划师给我意见 <br />
             </label>
               </span>
          </p>
          
          
          <p>
          <h3 class="PublicHh">Q3 在婚礼过程中，您希望有以下哪些？</h3>
           <span>
           <label>
              <input type="checkbox" name="CheckboxGroup4" id="CheckboxGroup4_0" /> 仪式前的表演（舞蹈，魔术等）<br /> 
              <input type="checkbox" name="CheckboxGroup4" id="CheckboxGroup4_1" /> 仪式中的游戏互动<br />
              <input type="checkbox" name="CheckboxGroup4" id="CheckboxGroup4_2" /> 仪式后的游戏互动<br />
              <input type="checkbox" name="CheckboxGroup4" id="CheckboxGroup4_3" /> 我希望流程简单方便<br /> 
            </label>
            </span>
          </p>
          
          
          <p>
          <h3 class="PublicHh">Q4 您希望自己的婚礼现场的主色系是什么颜色？</h3>
           <span>
           <label>
              <input type="checkbox" name="CheckboxGroup5" id="CheckboxGroup5_0" /> 红色
              <input type="checkbox" name="CheckboxGroup5" id="CheckboxGroup5_1" /> 蓝色
              <input type="checkbox" name="CheckboxGroup5" id="CheckboxGroup5_2" /> 绿色
              <input type="checkbox" name="CheckboxGroup5" id="CheckboxGroup5_3" /> 紫色
              <input type="checkbox" name="CheckboxGroup5" id="CheckboxGroup5_4" /> 橙色
              <input type="checkbox" name="CheckboxGroup5" id="CheckboxGroup5_5" /> 混搭
               &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;      自定义  <input name="" type="text" placeholder="请输入您喜欢的颜色"  maxlength="16" />  （16字以内）
            </label>
            </span>
          </p>
          
          <p>
          <h3 class="PublicHh">Q5 请选择几个词来描述您理想的婚礼：</h3>
           <span>
           <label>
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_0" /> 喜庆
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_1" /> 时尚
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_2" /> 个性
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_3" /> 有趣
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_4" /> 轻松 
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_5" /> 主题突出
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_6" /> 浪漫 
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_7" /> 未来科技  
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_8" /> 庄严神圣
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_9" /> 动情 
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_10" /> 地方风俗<br /> 
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_11" /> 设施齐全
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_8" /> 经典 
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_9" /> 传统 
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_10" /> 热闹 
              <input type="checkbox" name="CheckboxGroup6" id="CheckboxGroup6_11" /> 简约温馨大气    
            </label>
            </span>
          </p>
          
         <p>
          <h3 class="PublicHh">Q6 在婚礼元素的选择上，您更希望重点投入的是？</h3>
              <span>
              <label>
                <input type="radio" name="RadioGroup4"  id="RadioGroup4_0" />   场地布置 
                <input type="radio" name="RadioGroup4"  id="RadioGroup4_1" />   主持人 
                <input type="radio" name="RadioGroup4"  id="RadioGroup4_2" />   化妆师 
                <input type="radio" name="RadioGroup4"  id="RadioGroup4_3" />   摄影师 
                <input type="radio" name="RadioGroup4"  id="RadioGroup4_4" />   摄像师 
                <input type="radio" name="RadioGroup4"  id="RadioGroup4_5" />   没有重点投入   
             </label>
               </span>
          </p>  
          
          
          <p>
          <h3 class="PublicHh">Q7 在婚礼过程中，您最看重的是？</h3>
              <span>
              <label>
                <input type="radio" name="RadioGroup5"  id="RadioGroup5_0" />   婚礼场面
                <input type="radio" name="RadioGroup5"  id="RadioGroup5_1" />   物有所值  
                <input type="radio" name="RadioGroup5"  id="RadioGroup5_2" />   两人的感受 
                <input type="radio" name="RadioGroup5"  id="RadioGroup5_3" />   父母亲朋的感受
                <input type="radio" name="RadioGroup5"  id="RadioGroup5_4" />   其他 
             </label>
               </span>
          </p> 
          
          
          <p>
          <h3 class="PublicHh">Q8 如果您在婚艺365中看到了喜欢的婚礼模版，请复制链接地址到下方：（最多可选三个）</h3><br />
              <span>
              <label>
               模板1：  <input name="" type="text"  style="width:450px; height:25px;"/  placeholder="请以http://开始">   ( 请填写网址 ) <br /> <br /> 
               模板2：  <input name="" type="text"  style="width:450px; height:25px;"/ placeholder="请以http://开始">    ( 请填写网址 )  <br /> <br /> 
               模板3：  <input name="" type="text"  style="width:450px; height:25px;"/ placeholder="请以http://开始">    ( 请填写网址 )  <br /> <br /> 
 
             </label>
               </span>
          </p> 

         </form>
         </td>
      </tr>
   </table> 
   
<!--联系方式-->
<div  class="orderPuCont magi mt20">
   <span>请留下您的联系方式，婚艺小秘书会尽快与您取得联系</span> 
   
   <table width="670" cellspacing="0" cellpadding="0">
  <tr>
    <td width="239" height="50" align="right"> 您的称呼 :</td>
    <td width="429" height="50" align="left">&nbsp;&nbsp; <input name="" type="text" placeholder="请输入您的真实姓名"   style="width:250px; height:25px;"/></td>
  </tr>
  <tr>
    <td height="50" align="right"> 您的联系方式  : </td>
    <td align="left">&nbsp;&nbsp;   <input name="" type="text" placeholder="请输入您的手机号码"   style="width:250px; height:25px;"/></td>
  </tr>
  <tr>
    <td height="50" align="right"> 验证码  :</td>
    <td align="left"> &nbsp;&nbsp;  <input name="" type="text"  placeholder="请输入验证码"  style="width:100px; height:25px;"/>  <input type="button" style="background-color:#66c2b6; color:#FFF; border:none; padding:7px 20px;" value="发送验证">
     </td>
  </tr>
</table>                                  
</div>   
 <input type="button" style="background-color:#f7597a; color:#FFF; border:none; padding:10px 45px; margin: 50px 380px;" value="提 交">           
</div>

<!--orderPubRight-->
<div id="orderPubRight" class="mt20 fr">
       <!---流程图-->
       <div class="orderPu">
       </div>
       <!--联系客服--> 
       <div id="orderPubRightUp">
        <span style="font-size:26px; color:#f7597a; height:35px; line-height:35px;">  <img src="<?php echo base_url().'application/views/';?>images/scritor.jpg" align="left";> 婚艺小秘书</span> 
        <div style="border-bottom:2px #f7597a dotted; width:100%; height:15px;"></div>
        <span> 免费咨询热线：</span>
        <span style="font-size:26px; color:#f7597a; height:40px; line-height:40px;">400-9919-080</span>
        <span style="text-align:center;">  <a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/scertorBut.jpg"></a></span>
        <span> 周一至周日 10：00~19：00</span>
   </div>
</div>
<div class="cb"></div>      
 