
<div class="zhuce_c">


欢迎您加入婚艺365平台！ <a href="<?php echo site_url('hunyi/index');?>">  <span style="font-size:12px;"> 如若不想注册，进入网站首页&gt;&gt;</span> </a><br />
<br />
<br />
<a href="<?php echo site_url('reg/regmember');?>"><img src="<?php echo base_url().'application/views/images';?>/zhuce_01.jpg"></a>
<a href="<?php echo site_url('reghuman/index');?>"><img src="<?php echo base_url().'application/views/images';?>/zhuce_02.jpg"></a>
<a href="<?php echo site_url('regteam/index');?>"><img src="<?php echo base_url().'application/views/images';?>/zhuce_03.jpg"></a>





</div>

































 