
<div  class="zhu_c" >

<table width="700" border="1">
  <tr>
    <td width="700" height="60" colspan="3">婚礼人个人注册<span style="font-size:16px; color:#999;">  已有婚艺账号，您可以直接</span> <span class="color" style="font-size:14px;"><a href="<?php echo site_url('login/index')?>">登录</a></span></td>
  </tr>
 
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<a href="#"><img src="<?php echo base_url().'application/views/images';?>/zhu_q1.jpg" width="650" height="31" /></a>
<table width="700" border="1" style="font-size:16px; color:#333;">

  <tr>
    <td width="256" height="25">    </td>
    <td width="306" height="25" align="center" valign="middle">完善资料</td>
    <td width="500" height="25" align="center" valign="middle">等待审核</td>
  </tr>
  <tr>
    <td  width="700" colspan="3" align="center"><img src="<?php echo base_url().'application/views/images';?>/no01.jpg" width="700" height="255" /></td>
  </tr>
  <tr>
    <td height="80">&nbsp;</td>
    <td height="80"><a href="<?php echo site_url('hunyi/index');?>"><img src="<?php echo base_url().'application/views/images';?>/enter01.jpg" width="166" height="36" /></a></td>

  </tr>
</table>







</div>
<!---->
