 

         <!--成功案例广告图01-->
         <div class="caseBanner"> <a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/banimages/personalban.jpg"  alt="婚礼人" title="婚礼人"></a>
         </div>        
<!--location-->
<div class="location mt10 magi">
    <img src="<?php echo base_url().'application/views/';?>images/point.jpg" align="left">当前所在的位置 ：<a href="#">首页</a>  > <span>成功案例</span>
</div>

<!--case sorts-->
<script type="text/javascript">
$(function(){
	$(".caseCasesDo dl").hover(function(){
		$(this).css({
		"border-right":"1px solid #A20055",
		"border-left":"1px solid #A20055"
		});
	},function(){
		$(this).removeAttr("style");
	}).parent().prev().hover(function(){
		$(this).css({
		"color":"#A20055"
		});
	},function(){
		$(this).removeAttr("style");
	});
})

</script>
<div class="caseSorts magi">
     <!-- caseSortsColor -->
     <div class="caseSortsColor ml20 mt20 fl">
        <h1> 婚礼色彩</h1>
        <ul>
        <li><span>红色</span>     <a href="#" target="_blank">玫红婚礼 </a> <a href="#" target="_blank">大红婚礼</a> <a href="#" target="_blank">粉红婚礼</a></li>
        <li><span>蓝色</span>     <a href="#" target="_blank">宝蓝婚礼</a> <a href="#" target="_blank">天蓝婚礼</a> <a href="#" target="_blank">Tiffany蓝婚礼</a></li>
        <li><span>绿色</span>     <a href="#" target="_blank">墨绿婚礼</a> <a href="#" target="_blank">浅绿婚礼</a></li>
        <li><span>紫色</span>     <a href="#" target="_blank">深紫婚礼</a> <a href="#" target="_blank">浅紫婚礼</a></li>
        <li><span>橙色</span>     <a href="#" target="_blank"> 土豪金婚礼</a></li>
       </ul> 
    </div>
     <!-- caseSortsStyle -->
     <div class="caseSortsStyle ml20 mt20 fl">
       <h1> 婚礼风格</h1>
        <ul>
        <li>  <a href="#" target="_blank">中 式</a></li>
        <li>  <a href="#" target="_blank">西 式</a></li>
        <li>  <a href="#" target="_blank">个 性</a> </li>
        <li>  <a href="#" target="_blank">创 意 </a></li>
       </ul> 
     </div>
     <!-- caseSortsPoint -->
     <div class="caseSortsPoint ml20 mt20 fl">
        <h1> 婚礼地点</h1>
        <ul>
        <li>  <a href="#" target="_blank">星级酒店 </a></li>
        <li>  <a href="#" target="_blank">特色餐厅 </a></li>
        <li>  <a href="#" target="_blank">教 堂</a> </li>
        <li>  <a href="#" target="_blank">室外场地 </a></li>
       </ul> 
     </div>
</div>
<!-- caseCases -->
<div class="caseCases">
   <div class="caseCasesUp fs30">
    - 经典案例CASE -
       </div>
    <div class="caseCasesDo">
       <!--循环案例开始，总共循环30次，显示30个案例-->
       <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--1-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--2-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--3-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--4-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--5-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--6-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--7-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--8-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--9-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--10-->
       <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--11-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--12-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--13-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--14-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--15-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--16-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--17-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--18-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--19-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--20-->
       <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--21-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--22-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--23-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--24-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--25-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--26-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--27-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--28-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--29-->
        <dl>
          <dt><a href="#" target="_blank"><img src="<?php echo base_url().'application/views/';?>images/case01.jpg"></a></dt>
          <dd><a href="#" target="_blank">案例名称</a></dd>
       </dl>
       <!--30-->
    </div>


</div>


























 <!--分页-->
 <div class="Page mt20">
  <a href="#">上一页</a> <a href="#">1</a> <a href="#">2</a><a href="#">3</a><a href="#">下一页</a> <strong> 末页</strong>
  </div>
    
 