body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,tr,th,div,dl,dt,dd,form,fieldset,img,cite,strong,em,div{margin:0;padding:0;border:0;}
h1, h2, h3, h4, h5, h6{ font-size:12px;}
img, table, td, th ,embed{ border:none;}
select,input{font-size:12px;}
ul,ol, li{ list-style-type:none; padding:0;}
a{color:#fff; text-decoration:none;}
a:hover{color:#fff;}
a:visited{text-decoration:none;}
body{ font-family:"宋体"; font-size:12px; color:#adc9d9;margin:0; padding:0; width:100%; height:auto; margin:0 auto;background-repeat:repeat;overflow:hidden;}





#top {
	margin: 0 auto;
	clear:both;
	height:318px;
	width:847px;
	background:url(../images/login_04.gif) no-repeat;
}
#center {
	height:84px;
	text-align:center;
}
#center_left {
	margin-left:216px;
	float:left;
	background:url(../images/login_06.gif) no-repeat;
	height:84px;
	width:381px;
}
/* IE7 HACK*/
*+html #center_left {
	margin-left:206px !important;
}
/* END HACK*/
#center_middle {
	float:left;
	background:url(../images/login_07.gif) no-repeat;
	height:84px;
	width:162px;
}
#center_middle_right {
	float:left;
	background:url(../images/login_08.gif) no-repeat;
	height:84px;
	width:60px;
}
#center_submit {
	float:left;
	background:url(../images/login_09.gif) no-repeat;
	height:84px;
	width:80px;
}
#center_right {
	float:left;
	background:url(../images/login_10.gif) no-repeat;
	height:84px;
	width:211px;
}
#footer {
	margin:0 auto;
	background:url(../images/login_11.gif) no-repeat;
	height:206px;
	width:847px;
}
INPUT {
	width:100px;
	height:17px;
	background-color:#87adbf;
	border:solid 1px #153966;
	font-size:12px;
	color:#283439;
}
.chknumber_input {
	width:40px;
}
.user {
	margin: 6px auto;
}
/* IE7 HACK*/
*+html .user {
	margin: 4px auto;
}
/* END HACK*/
.chknumber {
	margin-bottom:3px;
	text-align:left;
	padding-left:3px
}
.button {
	margin: 15px auto;
}
IMG {
	border:none;
	cursor:pointer;
}
FORM {
	margin:0;
	padding:0
}
.login_a{ width:100%; height:295px; background:url(../images/login_a.jpg) center no-repeat; background-color:#FFF;}
.login_b{ width:100%; height:525px; background:url(../images/login_b.jpg) center no-repeat;background-color:#b8e5e5;}
.login_c{ width:100%; height:100px; background-color:#FFF; text-align:center; font-size:14px; color:#9c9c9c; line-height:25px; padding:30px;}
.login_b_g{width:425px; height:210px; margin:0px auto; font-size:16px; font-family:"微软雅黑"; color:#7a7a7a; padding-top:165px;}



.top_a{ width:100%; height:130px; background:url(../images/top_02.jpg) repeat-x; background-color:#FFF;}
.top_a_left{ width:455px; height:130px; float:left;  margin-left:30px;}
.top_a_right{ width:400px; height:130px; float:right;  margin-right:30px; color:#FFF;}
