<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>婚艺网后台管理中心</title>
<style type="text/css">
<!--
body {
	margin-left: 3px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
}
.STYLE1 {
	color: #e1e2e3;
	font-size: 12px;
}
.STYLE6 {color: #000000; font-size: 12; }
.STYLE10 {color: #000000; font-size: 12px; }
.STYLE19 {
	color: #344b50;
	font-size: 12px;
}
.STYLE21 {
	font-size: 12px;
	color: #3b6375;
}
.STYLE22 {
	font-size: 12px;
	color: #295568;
}
-->

}
.bb{
	color:red;
	font-size:10px;
	
}
span{
	color:red;
}
</style>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="24" bgcolor="#353c44">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="6%" height="19" valign="bottom"><div align="center"><img src="<?php echo base_url();?>application/views/admin/images/tb.gif" width="14" height="14" /></div></td>
                <td width="94%" valign="bottom"><span class="STYLE1"> 添加优惠活动</span></td>
              </tr>
            </table></td></tr>
			</table>
			</table></table>
			<form name="area" method="post" action="<?php echo site_url('admin/servicemng/addservice');?>"><div style="background-color: #DDDDDD;">
			<input type="hidden" name="<?php echo $paramname;?>" value="<?php echo $paramvalue;?>" >
            <table style="margin:0 auto;">
				<tr>
                    <td>
                    服务类型：&nbsp;&nbsp;
                    </td>
                    <td> 
                        <input type="text" name="type" value="<?php echo set_value('type'); ?>" />
                    </td>
                    <td class="bb">
                        <?php echo form_error('type'); ?>
                    </td>
                </tr>
				<tr>
                    <td>
                        服务单价：&nbsp;&nbsp;
                    </td>
                    <td>
                        <input type="text" name="sprice" value="<?php echo set_value('sprice'); ?>" />
                    </td>
                    <td class="bb">
                        <?php echo form_error('sprice');?>
                        </td>
                </tr>
				 
                <tr>
                    <td>
                        服务说明：&nbsp;&nbsp;
                    </td> 
                    </tr>
                    <tr>
                        <script  type="text/javascript" src="<?php echo base_url();?>ueditor/ueditor.config.js"></script>
                        <script  type="text/javascript" src="<?php echo base_url();?>ueditor/ueditor.all.min.js"></script>
                    <td colspan="2">
                        <textarea  id="explains" name="explains" width="200"><?php echo set_value('explains'); ?></textarea>
                        <script type="text/javascript">
                            var ue=UE.getEditor("explains");
                        </script>
                    </td>
                    <td class="bb">
                        <?php echo form_error('explains'); ?>
                    </td>
                </tr>
 
                
				<tr colspan="3"><td align="right" ><input name="submit" type="image" alt="确定" src="<?php echo base_url();?>application/views/admin/images/tj.png"></td>
				
				</tr>
			</form>
			</table>
			</div>
</body>
</html>
