<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>婚艺网后台管理中心</title>
<style type="text/css">
<!--
body {
	margin-left: 3px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
}
.STYLE1 {
	color: #e1e2e3;
	font-size: 12px;
}
.STYLE6 {color: #000000; font-size: 12; }
.STYLE10 {color: #000000; font-size: 12px; }
.STYLE19 {
	color: #344b50;
	font-size: 12px;
}
.STYLE21 {
	font-size: 12px;
	color: #3b6375;
}
.STYLE22 {
	font-size: 12px;
	color: #295568;
}
-->
</style>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="24" bgcolor="#353c44"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="6%" height="19" valign="bottom"><div align="center"><img src="<?php echo base_url();?>application/views/admin/images/tb.gif" width="14" height="14" /></div></td>
                <td width="94%" valign="bottom"><span class="STYLE1">新人列表</span></td>
              </tr>
            </table></td>
            <td><div align="right"><span class="STYLE1">  </span>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
	<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
	
			<form name="sou" method="post" action="<?php echo site_url('admin/membermng/memberlist');?>">
					<tr>
						<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center">
						搜登录名<input type="text" name="mname" size="20">&nbsp;
						搜手机号<input type="text" name="phone" size="20">&nbsp;
						&nbsp;<input type="image" name="search" src="<?php echo base_url().'application/views/admin/images/search.png'?>" title="搜索">
							</div></td>
						
							
						
					</tr>
		</form>
	</table>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
      <tr>
        <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">登录名</span></div></td>
        <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">真实姓名</span></div></td>
		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">昵称</span></div></td>
		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">手机号
		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">年龄</span></div></td>
		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">性别</span></div></td>
		<td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">通讯地址</span></div></td>
		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">操作</span></div></td>
      </tr>
	  
	  <?php foreach($res as $v){?>
      <tr>
		<td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19">
		<?php echo $v['mname'];?></span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['realname'];?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['nickname'];?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['phone'];?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['age'];?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">
		<?php   echo $v['sex']==1? '<img src="'.base_url().'application/views/admin/images/woman.png" title="女">': '<img src="'.base_url().'application/views/admin/images/man.png" title="男">';?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="left"><?php echo $v['address'];?></div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21">
			<a href="<?php $mid=$v['mid']; echo site_url("admin/membermng/editmpwd/$mid");?>"><img src="<?php echo base_url();?>application/views/admin/images/edit.gif" alt="编辑" title="修改密码" /></a>
	  </tr>
	<?php } ?>
      <tr>
		<td colspan="2" align="center" ><?php echo isset($total)?'总计'.$total.'名新人':'';?></td>
		<td colspan="4" align="center"><?php echo isset($link)?$link:'';?></td>
	  </tr>


</table>
</body>
</html>
