<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>婚艺网后台管理中心</title>
<style type="text/css">
<!--
body {
	margin-left: 3px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
}
.STYLE1 {
	color: #e1e2e3;
	font-size: 12px;
}
.STYLE6 {color: #000000; font-size: 12; }
.STYLE10 {color: #000000; font-size: 12px; }
.STYLE19 {
	color: #344b50;
	font-size: 12px;
}
.STYLE21 {
	font-size: 12px;
	color: #3b6375;
}
.STYLE22 {
	font-size: 12px;
	color: #295568;
}
-->
</style>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="24" bgcolor="#353c44"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="6%" height="19" valign="bottom"><div align="center"><img src="<?php echo base_url();?>application/views/admin/images/tb.gif" width="14" height="14" /></div></td>
                <td width="94%" valign="bottom"><span class="STYLE1">订单列表</span></td>
              </tr>
            </table></td>
            <td><div align="right"><span class="STYLE1">  </span>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
	<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
	
			<form name="sou" method="post" action="<?php echo site_url('admin/ordermng/orderlist');?>">
					<tr>
						<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center">
						搜订单号<input type="text" name="onum" size="20">&nbsp;
						搜电话<input type="text" name="ophone" size="20">&nbsp;
						搜显示状态<select name="ischeck">
								<option value="-1">--选择状态--</option>
								<option value="0">--已取消--</option>
								<option value="1">--正常--</option>
							</select>&nbsp;
						搜支付状态<select name="ispay">
								<option value="-1">--选择状态--</option>
								<option value="0">--未支付--</option>
								<option value="1">--已支付--</option>
							</select>&nbsp;
							
						 <input type="image" name="search" src="<?php echo base_url().'application/views/admin/images/search.png'?>" title="搜索">
							</div></td>
						
							
						
					</tr>
		</form>
	</table>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#a8c7ce">
      <tr>
        <td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">订单编号</span></div></td>
        <td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">订单金额</span></div></td>
		<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">下单时间</span></div></td>
		<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">预约者</span></div></td>
		
		<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">预约者手机</span></div></td>
		<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">被预约者</span></div></td>
		<!----><td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">预约时间段</span></div></td>
		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">订单显示状态</span></div></td>
		<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">支付状态</span></div></td>
		<td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div align="center"><span class="STYLE10">操作</span></div></td>
      </tr>
	  
	  <?php foreach($res as $v){?>
      <tr>
		<td height="20" bgcolor="#FFFFFF" class="STYLE6"><div align="center"><span class="STYLE19">
		<?php echo $v['onum'];?></span></div></td>
        <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['perprice'];?></div></td>
		 <td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo date('Y/m/d H:i:s',$v['addtime']);?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['oauthor'];?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['ophone'];?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">
			<?php if(!empty($v['hname'])){echo $v['hname'];}?>
			<?php if(!empty($v['tname'])){echo $v['tname'].'团队';}?>
		</div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['odate'];?><?php echo $v['otime']=='am'?'午宴':'晚宴';?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center">
		<?php   echo $v['ischeck']==1? '<img src="'.base_url().'application/views/admin/images/dh.png">': '<img src="'.base_url().'application/views/admin/images/error.png">';?></div></td>
		<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div align="center"><?php echo $v['ispay']==1?  '<img src="'.base_url().'application/views/admin/images/dh.png">':' <img src="'.base_url().'application/views/admin/images/error.png">';?>
		</div></td>
        <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE21">
			<a href="<?php echo site_url('admin/ordermng/editorder/'.$v['oid'].'');?>">
			<img src="<?php echo base_url();?>application/views/admin/images/detail.png" alt="编辑" title="编辑订单信息" /></a>
			
			
			</div></td>
	  </tr>
	<?php } ?>
      <tr>
		<td colspan="2" align="center" ><?php echo isset($total)?'总计'.$total.'笔订单':'';?></td>
		<td colspan="4" align="center"><?php echo isset($link)?$link:'';?></td>
	  </tr>


</table>
</body>
</html>
