<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="<?php echo base_url().'application/views/admin/images/'?>favicon.ico"/>
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>application/views/admin/css/style.css"/>
<title>婚艺365网站后台管理中心</title>
</head>
<body>


<div class="top_a">
	<div class="top_a_left">
     <table width="455" height="130" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td align="center" height="100" valign="middle"><img src="<?php echo base_url();?>application/views/admin/images/top_05.jpg" ></td>
  </tr>
  <tr>
    <td align="left" height="30" valign="middle"><a href="#"> <img src="<?php echo base_url();?>application/views/admin/images/top_23.jpg"  align="center"  /></a></td>
  </tr>
</table>
 </div>
<div class="top_a_right">
<table width="400" height="130" border="1" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="100" height="70" align="center" valign="middle"><a href="<?php echo site_url('hunyi/index');?>" target="_blank"><img src="<?php echo base_url();?>application/views/admin/images/top_13.jpg" ></a></td>
    <td width="100" height="70" align="center" valign="middle"><a href="javascript:window.parent.location.reload();"><img src="<?php echo base_url();?>application/views/admin/images/top_08.jpg" ></a></td>
    <td width="100" height="70" align="center" valign="middle"><a href="<?php echo site_url('admin/msg/userexit');?>" target="_top"><img src="<?php echo base_url();?>application/views/admin/images/top_10.jpg" ></a></td>
      <td width="100" height="70" align="center" valign="middle"></td>
  </tr><!--
  <tr>
    <td height="20" align="center" valign="middle" style="font-size:12px;"><a href="www.hunyi365.com" target="rightFrame"><strong>网站首页</strong> </a></td>
    <td height="20" align="center" valign="middle" style="font-size:12px;"><a href="javascript:window.parent.location.reload();"><strong>刷新</strong></a></td>
    <td height="20" align="center" valign="middle" style="font-size:12px;"><a href="" target="_top"><strong>退出</strong></a></td>
    <td height="20" align="center" valign="middle" style="font-size:12px;"></td>
  </tr>-->
   <tr>
    <td height="10" colspan="4" align="center" valign="middle"></td>
    </tr>
  <tr>
    <td height="30" colspan="4" align="left" valign="middle"><img src="<?php echo base_url();?>application/views/admin/images/top_20.jpg" align="center" > 当前登录用户：<?php echo $user;?> 用户角色：<?php echo $group;?></td>
    </tr>
</table>
   
   
   
   
   
 </div>











</div>



</body>
</html>
